@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Display background truly full screen, even on screens with obstructions */
  body {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
}